<div class="container">
    <input [formControl]="filter" placeholder="Search for feeds">
    <div class="feed card" *ngFor="let feed of displayedFeeds" [routerLink]="['/feeds/' + feed.id]">
        <div class="avatar">
            <img [src]="'https://api.adorable.io/avatars/120/' + feed.parsedAuthor">
        </div>
        <div class="preview">
            <div class="name">{{ feed.name }}</div>
            <div class="info">
                <span class="created">{{ feed.timestamp | date }}</span>
                <span class="likes">(Likes: {{ feed.likes }} | Comments: {{ feed.comments.length }})</span>
            </div>
            <div class="text">{{ feed.text }}</div>
        </div>   
    </div>
    <div class="filtered card" *ngIf="displayedFeeds.length === 0 && allFeeds.length > 0">
        No feeds for query <strong>{{ filter.value }}</strong>
    </div>
    <button class="add-new" [routerLink]="['/feeds/new']">Add new feed</button>
</div>
