@import "src/app/theming/colors.scss";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $color-contrast;
}
app-root {
    display: block;
    height: 100%;
    width: 100%;
}

input, textarea {
    border-radius: 4px;
    border: 1px solid $bg-1;
    outline: none;
    color: $color-contrast;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: $bg-4;
    width: 100%;
}

input {
    height: 40px;
    box-shadow: 0 0 0 20px inset $bg-4;

    &:-webkit-autofill {
        -webkit-text-fill-color: $color-contrast !important;
    }
}

textarea {
    height: 400px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    resize: none;
}

button {
    height: 40px;
    box-sizing: border-box;
    padding: 8px 16px;
    color: $color-primary-contrast;
    background: $color-primary;
    border: 1px solid $bg-2;
    border-radius: 4px;

    cursor: pointer;
    &:hover {
        background: $color-primary-active;
    }
    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &.secondary {
        background-color: $bg-1;
        color: $color-primary;
        &:hover {
            background: $bg-2;
        }
    }
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    background-color: $bg-1;
    border-radius: 8px;
    padding: 16px;
    max-width: 100%;
    max-width: fit-content;
}

.link {
    color: $color-primary;
    cursor: pointer;
    outline: none;

    &:hover {
        opacity: 0.7;
    }
}